@page "/studentpage"

<h2><b>List Of Student</b></h2>

<div><a href="addstudent" button type="button" class="btn btn-light oi oi-plu">Create New </a>
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nim</th>
            <th>Nama Belakang </th>
            <th>Nama Depan</th>
            <th>Tanggal Masuk</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var stud in Student)
        {
            <tr>
                <td>@stud.studentID</td>
                <td>@stud.lastName</td>
                <td>@stud.firstName</td>
                <td>@stud.enrollmentDate</td>
                <td><a href="@($"studentdetail/{stud.studentID}")" class="btn btn-info">detail</a>
                    <a href="" class="btn btn-primary">enroll</a>
                    <a href="@($"editstudent/{stud.studentID}")" class="btn btn-warning">edit</a>
                    <a href="@($"studentdelete/{stud.studentID}")" class="btn btn-danger">delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
